.progress {
  display: flex;
  // justify-content: space-between;
  // align-items:center;
  flex-direction: column;
  gap: 10px;

  padding: 13px 20px 23px 20px;

  width: 100%;
}
.progress_bar {
  background: #2a1502;
  border-radius: 16px;
  height: 20px;
  width: 100%;
}
.progress_thumb {
  background: linear-gradient(
    90deg,
    rgba(189, 67, 17, 0.9) 0%,
    rgba(163, 91, 17, 1) 45%,
    rgba(203, 116, 12, 0.9) 100%
  );
  border-radius: 15px;
  height: 100%;
  max-width: 100%;
  min-width: 10px;
  transition: width 0.3s;
}
