.bajan {
  margin: 55px 180px;
}
.bajan_section {
  margin-bottom: 45px;
}
.tittle {
  display: flex;
  justify-content: space-between;

  border-bottom: 1px solid #ffffff3e;
  padding-bottom: 5px;
  p {
    cursor: pointer;
  }
}
.bajan_info {
  transition-duration: 500ms;
  text-align: start;
  li {
    margin-top: 25px;
  }
  span {
    font-weight: 600;
  }
}
