.TokenInfo {
  margin-bottom: 400px;
}
.header {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}
.TokenInfo_content {
  margin-top: 75px;
  display: flex;

  justify-content: space-between;
}
.block {
  width: 35%;
  border: 1px solid transparent;
  position: relative;
  border-image-slice: 1;
  border-radius: 15px;
  padding: 25px;
  background: var(--color-bg);
  &::after {
    content: ' ';
    position: absolute;
    top: -3px;
    left: -3px;
    bottom: -3px;
    right: -3px;
    background: linear-gradient(#ea512fcc, #ffa957);
    border-radius: 15px;
    z-index: -1;
  }
}
.block_header {
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
}
.blok_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.block_button {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-align: center;
  padding: 5px 15px;
  background: var(--color-text-darkYellow);
  border-radius: 10px;
  cursor: pointer;
}
.Diagram {
  .Tittle {
    color: #d2d4d8;
    // background: linear-gradient(90deg, #ffa957, #ffd975);
    background-image: url(../../assets/bg-card.webp);
    border: 0.2px solid #ea512fcc;
    border-radius: 15px;
    padding: 5px 20px;
    position: relative;
    font-size: 68px;
    font-weight: 600;
  }
  .line5 {
    position: absolute;
    content: ' ';
    height: 70px;
    width: 1px;
    background-color: #ea512fcc;
    top: 100%;
    left: 5%;
  }
  .line1 {
    position: absolute;
    content: ' ';
    height: 70px;
    width: 1px;
    background-color: #ea512fcc;
    top: 100%;
    left: 27%;
  }
  .line2 {
    position: absolute;
    content: ' ';
    height: 220px;
    width: 1px;
    background: linear-gradient(180deg, #ea512fcc, #ffa957);
    top: 100%;
    left: 50%;
  }
  .line3 {
    position: absolute;
    content: ' ';
    height: 70px;
    width: 1px;
    background-color: #ea512fcc;
    top: 100%;
    left: 73%;
  }
  .line4 {
    position: absolute;
    content: ' ';
    height: 70px;
    width: 1px;
    background-color: #ea512fcc;
    top: 100%;
    left: 95%;
  }
  .Diagram_1level {
    color: #8c8f94;
    align-items: center;
    font-size: 16px;
    position: absolute;
    top: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    width: 120px;
    padding-top: 10px;

    right: -60px;
  }
  .Diagram_tittle {
    font-size: 50px;
    position: absolute;
    top: 100%;
    text-wrap: nowrap;
    left: -267px;
    gap: 10px;

    padding-top: 10px;
    border: 1px solid var(--color-text-darkYellow);
    border-radius: 15px;
    padding: 5px 20px;
  }
}

@media (max-width: 1150px) {
  .Diagram {
    .Tittle {
      font-size: 58px;
    }

    .Diagram_tittle {
      font-size: 35px;
      left: -196px;
    }
  }
  .header {
    font-size: 38px;
  }
}
@media (max-width: 980px) {
  .TokenInfo_content {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .header {
    font-size: 30px;
  }
  .TokenInfo {
    margin-bottom: 550px;
  }
  .block {
    width: 55%;
  }
}
@media (max-width: 660px) {
  .TokenInfo_content {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .header {
    font-size: 30px;
  }
  .TokenInfo {
    margin-bottom: 550px;
  }
  .block {
    width: 100%;
  }
}
@media (max-width: 660px) {
  .TokenInfo_content {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .header {
    font-size: 30px;
  }
  .TokenInfo {
    margin-bottom: 550px;
  }
  .block {
    width: 100%;
  }
  .Diagram {
    .Tittle {
      font-size: 38px;
    }

    .Diagram_tittle {
      font-size: 25px;
      left: -149px;
    }
    .Diagram_1level {
      width: 80px;
      font-size: 10px;
      right: -40px;
    }
    .icon_2level {
      width: 25px;
      height: 25px;
    }
    .icon_1level {
      width: 25px;
      height: 25px;
    }
  }
  
   p{font-size: 14px;}
  
}
