.Contact{
  
        margin-top: 200px;
        margin-bottom: 200px;
        height: 70vh;
        
     
}
.header {text-align: center;
    margin-bottom: 100px;
    background-image: linear-gradient(90deg, #ffa957, #ffd975);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  
    font-size: 44px;
    line-height: 120%;
  }
  .content{
    display: flex;
    align-items: start;
    justify-content: space-between;
  }

  @media (max-width:768px){
    .content{
        flex-direction: column;
        align-items: center;
    }
  }