.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);

  z-index: 999;
}
.modal_wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1001;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 80%;
  justify-content: center;
  text-align: center;
  border: 1px solid white;
  background: black;
  border-radius: 20px;
}

.modal_content {
  position: absolute;
  width: auto;
  height: calc(100% - 180px);
  overflow: hidden;
  overflow-y: auto;
  padding: 0px 30px 30px 30px;
  margin: 5px;
  text-align: start;
  color: #ffffff;
  &::-webkit-scrollbar {
    width: 8px;
    height: 55px;
  }
  &::-webkit-scrollbar-thumb{
    background-color:var(--color-text-darkYellow);
    border-radius:10px;
    &:hover{
      background-color:#ffffff;
    }
  }
}
.close_button {
  cursor: pointer;
  position: absolute;
  top: 16px;
  right: 16px;
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: transparent;
  color: white;
}

@media (max-width: 600px) {
  .modal_wrapper{
    width: 80%;
  }
}
