.Timer {
  display: flex;
  flex-direction: column;
  align-items: end;
  & p {
    font-size: 14px;
  }
}
.counter {
  display: flex;

  margin-top: 16px;
  & span {
    margin-top: 10px;
    font-size: 24px;
  }
}
.text_grey{
    color: gray;
}
.blockCounter {
    display: flex;
    flex-direction: column;
    align-items: center;
  & p {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-text-yellow);
    margin: 0px 10px 0px 10px ;
    width: 64px;
    height: 64px;
    font-size: 32px;
    border-radius: 12px;
    color: var(--color-text-rad);
  }
}
