.HowToBuy {
  margin-top: 200px;

  text-align: center;
}
.header {
  margin-bottom: 100px;
  background-image: linear-gradient(90deg, #ffa957, #ffd975);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;

  font-size: 44px;
  line-height: 120%;
}
.content_wrapper {
  width: 100%;
  
  background: rgb(29, 30, 44);
  border-radius: 15px;
  padding: 80px 0;
  h3 {
    font-size: 24px;
    background-image: linear-gradient(90deg, #ffa957, #ffd975);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;

    line-height: 120%;
    margin-bottom: 25px;
  }
  p{
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: 400;
  }
}
