:root{
    --color-bg:#05090f;
    --color-text-yellow:#ffd975;
    --color-text-darkYellow:#ffa957;
    --color-text-rad:#ec5c42;
    --color-text-darkGreen:#00ffb2;
    --color-text-darkWhite:#fff;

}