.BuyWindow {
  //margin:25px;
  border: 1px solid var(--color-text-darkYellow);
  padding: 20px 10px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  backdrop-filter: blur(35px);
  -webkit-backdrop-filter: blur(15px);
  h1 {
    margin-bottom: 20px;
    color: var(--color-text-yellow);
  }
  p {
    font-weight: 600;
  }
}
.button_group {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  gap: 30px;
  align-items: center;
  .button {
    width: 200px;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--color-text-darkYellow);
    padding: 10px 15px;
    border-radius: 10px;
    
    img {
      width: 30px;
      height: 30px;
    }
  }
}
.button_tittle {
  display: flex;
  gap: 10px;
  align-items: center;
  span {
    font-size: 10px;
  }
}
.drop_network{
    z-index: 11;
    position:absolute;
    top: 50px;
    left: -1px;
    border: 1px solid var(--color-text-darkYellow);
    border-bottom-left-radius:15px;
    border-bottom-right-radius:15px;
    background: #000;
    
    .button_drop{
        display: flex ;
        align-items: center;
        gap: 10px;
        width: 198px;
        cursor: pointer;
        padding: 10px 0px 10px 15px;
        &:hover{
            background:#fff;
            color: #000;
        }
    }
}
.input_container {
  margin-bottom: 25px;
  width: 90%;

  p {
    font-size: 14px;
  }
  input {
    z-index: 0;
    margin-top: 5px;
    line-height: 45px;
    position: relative;
  }
}
.pay_button {
  background: linear-gradient(90deg, #ffa957, #ffd975);
  cursor: pointer;
  color: #000;
  border-radius: 8px;
  padding: 12px;
  font-weight: 700;
  line-height: 26px;
  transition: 0.5s;
  &:hover {
    filter: brightness(120%);
  }
}
