.BuyWindow {
  overflow: hidden;
  //margin:25px;
  position: relative;
  border: 2px solid transparent;
  padding-bottom: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  background: linear-gradient(4deg,rgb(35, 1, 0), rgb(0, 0, 0)) padding-box,
    linear-gradient(#ea512fcc, #ffa957) border-box;
  // backdrop-filter: blur(35px);
  // -webkit-backdrop-filter: blur(15px);
  .bg{width: 100%;
    text-align: center;
    background-image: url(../../assets/hell_background_hd_8k_wallpaper_stock_photographic_853645_63610.avif);
    
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  margin-bottom: 10px;

  }
  h1 {
    padding-bottom: 20px;
    
    color: var(--color-text-yellow);
  }
  p {
    font-weight: 600;
  }
  span {
    color: var(--color-text-darkYellow);
  }
}
.BuyWindowBlur {
  width: 150px;
  height: 150px;
  position: absolute;
  background: var(--color-text-yellow);
  z-index: -1;
  right: -20%;
  top: 20%;
  filter: blur(90px);
}
.button_group {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  gap: 30px;
  align-items: center;
  .button {
    width: 200px;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--color-text-darkYellow);
    padding: 10px 15px;
    border-radius: 10px;

    img {
      width: 30px;
      height: 30px;
    }
  }
}
.button_tittle {
  display: flex;
  gap: 10px;
  align-items: center;
  span {
    font-size: 10px;
  }
}
.drop_network {
  z-index: 11;
  position: absolute;
  top: 50px;
  left: -1px;
  border: 1px solid var(--color-text-darkYellow);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: #000;

  .button_drop {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 198px;
    cursor: pointer;
    padding: 10px 0px 10px 15px;
    &:hover {
      background: #fff;
      color: #000;
    }
  }
}
.inputs {
  display: flex;
  width: 90%;
  gap: 20px;
}
.input_container {
  margin-bottom: 25px;

  align-items: center;
  position: relative;

  p {
    font-size: 12px;
  }
  input {
    z-index: 0;
    margin-top: 5px;
    line-height: 55px;
    position: relative;
  }
}
.labelLine {
  z-index: 1;
  top: -3px;
  position: absolute;
  font-size: 20px;
  color: var(--color-text-yellow);
  padding: 0 10px;
  margin: 0 20px;
  background: var(--color-bg);
}
.pay_button {
  width: 90%;
  text-align: center;
  background: linear-gradient(90deg, #FF5748, #fe9452);
  cursor: pointer;
  color: #000;
  border-radius:16px;
  padding: 12px;
  font-weight: 700;
  line-height: 26px;
  transition: 0.5s;
  &:hover {
    filter: brightness(120%);
  }
}

@media (max-width: 1024px) {
  .input_container {
    margin-bottom: 25px;
  
    align-items: center;
    position: relative;
  
    p {
      font-size: 9px;
    }}
}
@media (max-width: 970px) {
  .inputs {
    
    width:auto;
    
  }
}
@media (max-width: 500px) {
  .button_group {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    .button {
      width: 100%;}
    
  }
  .inputs {
    
   display: block;
    
  }
  .pay_button {
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 440px) {

}
