.Blocks {
  margin: 150px 0;
  h1 {
    text-align: center;
    margin-bottom: 70px;
  }
}
.blocks_grid {
  display: grid;
  justify-content: center;
  grid-auto-columns: 1fr;
  padding: 0;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  .block {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
  }
  .block_outer {
    width: 100%;
    background-image: linear-gradient(to bottom, #3b414d, #171c26);
    border-radius: 16px;
    padding: 1px;
  }
  .block_inner {
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
    justify-content: flex-start;
    align-items: flex-start;
    height: 230px;

    background-image: url('../../assets/Blocks/big-link-bg.webp');
    background-position: 0 0;
    background-size: auto;
    border-radius: 16px;
    flex-direction: column;

    padding: 32px 24px 24px;
    display: flex;
    p {
      color: #787a7e;
      letter-spacing: 0.25px;
      //font-family: Helvetica Neue, sans-serif;
      font-size: 16px;
      font-weight: 300;
      line-height: 140%;
    }
  }
}

@media (max-width: 480px) {
    .Blocks {
       
        h1 {
         font-size: 30px;
         margin: 50px 0;
        }
      }
  .blocks_grid {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    .block_inner{
        height: 200px;
      }
  }
  
}
