* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
  position: relative;
  font-family: 'Poppins', sans-serif;
  background-color: var(--color-bg);
  color: #fff;
  letter-spacing: 1.1px;
}
a {
  color: #fff;
}
.tittle {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}
.infoData {
  display: flex;
  align-items: center;
}
.dot {
  background: rgba(112, 41, 209);
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.info {
  margin-left: 16px;
  font-size: 21px;
  font-weight: 400;
}
.logo {
  & img {
    width: 130px;
  }
}
