.ContactForm{
    overflow: hidden;
    width: 55%;
    display: flex;
    flex-direction: column;
     gap: 35px;

}
.entreated{
    position: relative;
    height: 60px;
    line-height: 60px;
}
input, textarea{
    width: 100%;
    position: absolute;
    outline: none;
    font-size: 20px;
    padding:0 30px;
    line-height: 60px;
    border-radius: 15px;
    border: 2px solid #ffa957;
    background:transparent ;
    transition: 0.1s ease;
    z-index: 9;
    color: #ffa957;
    
}
.labelLine{
    position: absolute;
    font-size: 20px;
    color: white;
    padding: 0 25px;
    margin:0 20px ;
    transition: 0.2s ease;
    background: var(--color-bg);
}
input:focus,input:valid,textarea:focus,textarea:valid{
    color: white;
    border: 2px solid #ffd975
}
input:focus + .labelLine,input:valid + .labelLine,textarea + .labelLine,textarea + .label{
    color: #ffd975;
    height: 30px;
    line-height: 30px;
    transform: translate(-15px,-16px) scale(0.85);
     z-index: 9;
}
button {
    
    margin-top: 60px;
  background: linear-gradient(90deg, #ffa957, #ffd975);
  font-size: 18px;
  color: #000;
  border-radius: 8px;
  padding: 12px;
  width: fit-content;
  font-weight: 700;
  line-height: 26px;
  transition: 0.5s;
  cursor: pointer;
  &:hover {
    filter: brightness(120%);
  }
}
@media (max-width: 768px) {
    .ContactForm{
        width: 100%;
    }
    button{
        width: 100%;
    }
  }
  