.Header {
  display: flex;
  // gap: 30px;
  justify-content: space-between;
  align-items: start;
  //height: 100vh;
}
.description {
  width: 55%;
  padding: 10px 30px 0 30px;
  & h1 {
    background-position: -200%;
    background-size: 200%;
    animation: bg-animation 4s infinite alternate-reverse;
    background-image: linear-gradient(90deg, #ff7948, #fe9452);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;

    font-size: 54px;
    line-height: 120%;
    text-transform: capitalize;
  }

  & p {
    font-style: italic;
    line-height: 25px;
    font-weight: 400;
    font-size: 18px;
    margin-top: 40px;
    margin-right: 100px;
  }
}
@keyframes bg-animation {
  100% {
    background-position: 200%;
  }
}
.btn {
  display: flex;
  margin-top: 40px;
  text-align: center;
  justify-content: center;

  & .button {
    background: linear-gradient(90deg, #ffa957, #ffd975);

    color: #000;
    border-radius: 8px;
    padding: 12px;
    width: 186px;
    font-weight: 700;
    line-height: 26px;
    transition: 0.5s;
    &:hover {
      filter: brightness(120%);
    }
  }
}
.img {
  // background-image: url('../../assets/Heder.png');
  // background-repeat: no-repeat;
  // background-position:center;
  // background-size:cover;

  width: 37%;

  & img {
    width: 100%;
    height: auto;
    display: block;
  }
}

@media (max-width: 970px) {
  .description {
  width: 100%;
    & h1 {
      font-size: 40px;
    }
    & p {
      font-size: 16px;
    }
  }
  .Header {
  flex-direction: column;
  gap: 30px;
}
.img{
width:80%;
}}

@media (max-width: 850px) {
  .description {
    width: 100%;
    & h1 {
      margin-right: 40px;
    }
    & p {
      font-size: 18px;
      margin-top: 40px;
      margin-right: 0px;
    }
  }
}
@media (max-width: 500px) {
  .description {
    & h1 {
      font-size: 30px;
      margin-right: 0px;
    }
    & p {
      font-size: 14px;
    }
  }
  .img{
    width:100%;
    }
}
