.Footer{
    // position: absolute;
    // bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 140px;
  padding: 0 120px;
  margin: auto;
  max-width: 1550px;

}
.social{
    display: flex;
    gap: 50px;
    align-items: center;
}
.socialLink{
    color: var(--color-text-yellow);
    display: flex;
    align-items: center;
    transition: all ease .3s;
    & img{
        width: 24px;
        height: 24px;
        fill: var(--color-text-darkYellow);
    }
    & span{
        margin-left: 10px;
    }
    &:hover{
        transform: scale(1.2);
    }
}