.Header {
  margin-top: 200px;
  text-align: center;
}
.tab{
  margin-top: 30px;
    width: 100%;
    text-align: center;
    
    background: linear-gradient(90deg, #ffa957, #ffd975);
    display: flex;
    
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    overflow: hidden;
    & button{
      width: 100%;
      
      padding: 15px 40px;
      text-decoration: none;
      background: transparent;
      font-size: 25px ;
      font-weight: 600;
      cursor: pointer;
      transition: all .3s ;
      &:hover{
        background: #e2824f;
        color: #fff;
      }
    }
}