.Header {
  margin-top: 200px;
  text-align: center;
}
.tab {
  margin-top: 30px;
  width: 100%;
  text-align: center;

  display: flex;

  justify-content: space-around;
  align-items: center;
 gap: 4px;
  overflow: hidden;
  & button {
    background:#3e310c ;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 15px 40px;
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s;
    color:  #ffd975;
    &:hover {
      background: linear-gradient(90deg, #ffa957, #ffd975);
      color:black;
      
    }
  }
}
