.Tiker {
  h1 {
    text-align: center;
  }
}
.ticker_container {
  display: flex;
  overflow: hidden;
  mask-image: linear-gradient(90deg, transparent,black ,transparent);
}
.ticker {
  display: flex;
  gap: 56px;
  flex: none;
  img {
    height: 30px;
    width: auto;
  }
}
